
/* formatando h3*/
h3{
  font-family: Arial, Helvetica, sans-serif;
        
}
h3{
    padding-left: 2px;
    padding-top: 12px;
}

/* formatando ul produtos*/
ul{
    padding-left: 35px;
}


/* formatando as divs*/
div{
    

}
div.container{
    width: 40% ;
}

div#gelo{
    width: 57%;
    float: left;
    margin-left: 15px;
    border: solid; 

}

div#produtos{
    float: left;
    border: solid;
    width: 238px;
    margin-top: 20px;

}

div#paga{
    width: auto;
    margin-top: 25rem;
    border: 1px solid;
    padding: 5px;
}

/* Tmanho imagens*/
img{
    width: 25%;
}