
/* formatando h3*/
h3{
  font-family: Arial, Helvetica, sans-serif;
        
}
h3{
    padding-left: 2px;
    padding-top: 12px;
}

/* formatando ul produtos*/
ul{
    padding-left: 35px;
}


/* formatando as divs*/
div{
    

}
div.container{
    width: 40% ;
    float: left;
}

div#gelo{
    width: 44%;
    float: left;
    margin-left: 15px;
    border: none;
    margin-top: 19px 

}

div#produtos{
    float: left;
    border: none;
    width: 238px;
    margin-top: 20px;

}

div#paga{
    width: 100%;
    margin-top: 100%;
    border: 1px solid;
    padding: 5px;
}

p,h4{
    width: 36%;
    margin-right: 17px;
}

p{
    margin-block-start: auto;
    text-align: ;
}

hr{
    width: 10rem;
}

/* Tmanho imagens*/
img{
    width: 25%;
}