
/* formatando h3*/
h3{
  font-family: Arial, Helvetica, sans-serif;
        
}
h3{
    padding-left: 2px;
    padding-top: 12px;
}

/* formatando ul produtos*/
ul{
    padding-left: 35px;
}


/* formatando as divs*/
div{
    
    width: 40%;
}
div.container{
 
}

div#gelo{
    width: 50%;
    float: right;
    margin-top: -20%; 
}

div#produtos{

}

div#paga{
    margin-top: 25rem;
    border: 1px solid;
    padding: 5px;
}

/* Tmanho imagens*/
img{
    width: 25%;
}