*{
  margin: 0;
  padding: 0%;
}

h1, p, h2{
    margin: 5px;
    padding: 5px;
} 

h1,h4{
    font-family: sans-serif ;
}

table{
    background-color: red;
    width: 100%;
} 

td{
    width: 20%;
}

a{
   color: #fff;     
}

#logo{
    width: 100px;
}