*{
  margin: 0;
  padding: 0%;
}

h1, p, h2{
    margin: 5px;
    padding: 5px;
} 

h1,h2,h4,a{
    font-family: sans-serif ;
}
h4{
    color: rgb(221, 3, 3) ;
}

table{
    background-color: red;
    width: 100%;
} 

td{
    width: 20%;
}

a{
   color: #fff;     
}

#logo{
    width: 100px;
}