*{
  margin: 0;
  padding: 0%;
}

/* formaatação h,p,li,ul*/
h1, p, h2{
    margin: 5px;
    padding: 5px;
} 

h1,h2,h4,a{
    font-family: sans-serif ;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
}

h4{
    color: rgb(221, 3, 3) ;
}

a{
   color: #fff;     
}
li{
    font-family: Arial, Helvetica, sans-serif;
}

/* formatação table ,td,tr*/
table#menu{
    background-color: red;
    width: 100%;
}
table#produtos{
    border:0;
    width:100%;  
}

td{
    width: 25%;
    align-content: center;
}

/* outras formatações*/

#logo{
    width: 100px;
}